<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TlgrmScrpt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TlgrmScrpt.Properties.Settings>
            <setting name="ApiId" serializeAs="String">
                <value>214207</value>
            </setting>
            <setting name="ApiHash" serializeAs="String">
                <value>7377b10309a8f84064db86f304351506</value>
            </setting>
        </TlgrmScrpt.Properties.Settings>
    </userSettings>
</configuration>